@charset "utf-8";

.m-calendar{
    overflow: hidden;
    height: 75px;
}

.m-calendar .m-calendar-arrow{
    float: left;
    box-sizing: border-box;
    width: 48px;
    text-align: center;
    height: 100%;
    border-bottom: 1px solid rgb(125,188,220);
}

.m-calendar .m-calendar-next{
    border-left: 1px solid rgb(125,188,220);

}

.m-calendar .icon-arrow{
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    width: 48px;
    height: 75px;

}

.m-calendar-prev .icon-arrow-prev{
    background: url(../../image/date_arrow_prev.png) no-repeat no-repeat center center;
}

.m-calendar-next .icon-arrow-next{
    background: url(../../image/date_arrow_next.png) no-repeat no-repeat center center;
}

.m-calendar .m-calendar-datelist li{
    float: left;
    box-sizing: border-box;
    width: 102px;
    border-left: 1px solid rgb(125,188,220);
    border-bottom: 1px solid rgb(125,188,220);
    text-align: center;
    vertical-align: middle;
    height: 75px;
    font-size: 12px;
    background-color: rgb(243,251,253);
}



.m-calendar-datelist li div::before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.m-calendar-datelist li p.date{
    line-height: 18px;
}


.m-calendar-datelist li p.date>span:last-child{
    margin-left: 8px;
}


.m-calendar-datelist li p.price{
    font-size: 14px;
    line-height: 18px;
    color:rgb(14,131,191);
}

.m-calendar-datelist li.date-picked{
    background-color: #fff;
    color:rgb(14,131,191);
    border-bottom: transparent;
    position: relative;
}

.m-calendar-datelist li.date-picked::before{
    content: '低';
    color:#fff;
    font-size: 12px;
    text-align: center;
    line-height: 14px;
    width: 14px;
    height: 14px;
    background-color: rgb(248,73,128);
    position: absolute;
    top: 0;
    left: 0;
}


.m-calendar .calendar_icon{
    width: 96px;
    height: 74px;
    background-image: url("../../image/calendar.png");
    float: left;
    position: relative;
}

.m-calendar .calendar_icon span{
    position: absolute;
    color: white;
    font-size: 12px;
    right: 5px;
    bottom: 5px;
}