.m-flight{
    width: 100%;
    padding-top: 14px;
}




/*航班表头样式*/
.m-flight .divider{
    height: 4px;
    background-image: url(../../image/divider.png);
}

.m-flight .m-flight-hd li{
    display: inline-block;
    text-align: center;
}


.m-flight-hd .banner{
    width: 100%;
    height: 35px;
    background-color: rgb(38,180,211);
    color: #fff;
    font-size: 14px;
}

.m-flight-hd li{
    height: 35px;
    line-height: 35px;
}


.m-flight .flight-info{
    width: 180px;
}
.m-flight .flight-depart{
    width: 180px;
}
.m-flight .flight-duration{
    width: 80px;
}
.m-flight .flight-arrival{
    width: 150px;
}
.m-flight-hd li.flight-website{
    width:180px;
}
.m-flight-hd li.flight-lstp{
    width: 80px;
}

.flight-sort span{
    position: relative;
}

.flight-sort span:before{
    content: '';
    width: 7px;
    height: 5px;
    background: url(../../image/triangle_up.png) no-repeat;
    position: absolute;
    right: -12px;
    top:4px;
}

.flight-sort span:after{
    content: '';
    width: 7px;
    height: 5px;
    background: url(../../image/triangle_down.png) no-repeat;
    position: absolute;
    right: -12px;
    bottom:4px;
}


/*航班列表样式*/

.m-flight-list>*{
    float: left;
}

.m-flight-list li{
    overflow: hidden;
    margin-top: 8px;
    padding-top: 8px;
    font-size: 12px;
    background-color: rgb(243,251,253);
    position: relative;
}


.m-flight-list li>div{
    float: left;
}

/*一些字体颜色*/
.font-dark-black{
    color: #000;
}
.font-mid-black{
    color: #333;
}
.font-light-black{
    color: #666;
}

.font-blue{
    color: rgb(14,131,191);
}


.font-yellow{
    color:rgb(255,114,0);
}



/*航班信息样式*/
.m-flight-list .flight-info>*{
    float: left;
}


.flight-info .icon-flight{
    display: block;
    width: 26px;
    height: 23px;
    background: url(../../image/flight.png);
    margin:0 10px 0 25px;
}


.flight-info .font-share{
    margin-top: 15px;
    color: #25b4d2 ;
}

/*航班起飞时间样式*/
.m-flight-list .flight-depart {
    width: 140px;
    text-align: right;
}

.flight-depart .depart-time{
    font-size: 18px;
    margin-bottom: 15px;

}




/*旅行总时长样式表*/
.m-flight-list .flight-duration{
    width: 175px;
    text-align: center;
}

.flight-duration .flight-time{
    margin-top: 5px;
    margin-bottom: 18px;
}

.flight-duration .flight-transfer{
    padding-bottom: 3px;
}

.flight-duration .flight-tips{
    width: 14px;
    height: 14px;
    line-height: 14px;
    background-color: #25b4d2;
    color: #fff;
    text-align: center;
    margin-right: 5px;
}
/*当地降落时间样式*/
.m-flight-list .flight-arrival{
    width: 150px;
    text-align: left;
    margin-left: -10px;
}

.flight-arrival .arrival-time{
    font-size: 18px;
    vertical-align: middle;
}

.flight-arrival .additional{
    color: #25b4d2;
    vertical-align: middle;
}
.flight-arrival .arrival-airport{
    margin-top: 15px;
}


.m-flight-list li::before{
    content: '';
    width: 214px;
    height: 5px;
    background:url(../../image/to-to.png);
    position: absolute;
    top: 35px;
    left: 295px;
}
.m-flight-list li+li::after{
    content: '';
    width: 577px;
    height: 0;
    border-top: 1px dashed rgb(218,221,221);
    position: absolute;
    top: 0;
    left: 55px;
}


/*推荐网站样式*/
.m-flight-list .flight-website{
    margin-top: 50px;
    width: 90px;
    text-align: right;
    font-size: 12px;
}

.flight-website>div+div{
    margin-top: 15px;
}


/*最低报价样式*/
.m-flight-list .flight-lstp{
    float: right;
    margin-top: 50px;
    margin-right: 40px;
    text-align: right;
    font-size: 12px;
}

.flight-lstp .ticket_price{
    font-size: 26px;
}


.flight-lstp .booking{
    display: inline-block;
    width: 76px;
    height: 26px;
    margin-top: 5px;
    background-color: rgb(38,180,211);
    color: #ffffff;
    text-align: center;
    position: relative;
}
.booking>*{
    vertical-align: middle;
}

.booking i{
    display: inline-block;
    width: 7px;
    height: 7px;
    background: url(../../image/triangle_up.png) center center no-repeat;
    margin-left: 10px;
}

.booking::before{
    display: block;
    position: absolute;
    top: 100%;
    left:0;
    width: 0;
    height: 0;
    content:'';

    border-top: 13px solid rgb(38,180,211);
    border-left: 38px solid transparent;
    border-right: 38px solid transparent;

}














































































































