@charset "utf-8";
.main {
	margin: 0 auto;
	width: 1267px;
}
.taobao-logo {
	float: left;
}
ul {
	float: left;
	margin-left: 35px;
}
ul li {
	float: left;
	line-height: 85px;
}
ul li a {
	margin: auto 18px;
	color: #33a7dc;
	font-size: 14px;
	font-family: "微软雅黑";
}
.modal-box {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 100;
	background: rgba(200, 200, 200, .5);
}
.modal-box .box {
	position: absolute;
	width: 800px;
	height: 546px;
	left: 50%;
	top: 50%;
	margin-left: -400px;
	margin-top: -273px;
}
.modal-box .box .close {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 784px;
	top: -14px;
}
