.datebar, 
.datebar {
	height: 74px;
}
.datebar-bd .prev,
.datebar-bd .next {
	display: block;
	float: left;
	width: 46px;
	height: 74px;
	border-bottom: 1px solid #268fc5;
}
.datebar-bd .prev {
	border-right: 1px solid #7dbcdc;
}
.prev-icon,
.next-icon {
	display: block;
	width: 18px;
	height: 34px;
	padding: 20px 14px;
	background-clip:content-box;
	background-origin:content-box;
	background-repeat: no-repeat;
}
.prev-icon { background-image: url('../image/prev.png');}
.next-icon { background-image: url('../image/next.png');}
.date-item {
	display: block;
	float: left;
}
.date-item .item{
	display: table;
	float: left;
	width: 102px;
	height: 74px;
	border-right: 1px solid #7dbcdc;
	border-bottom: 1px solid #268fc5;
    text-align: center;	
}
.date-item  .info{
    display: table-cell;
	vertical-align: middle;
}
.date-item  .date-leave,
.date-item  .date-back {
	margin-bottom:6px;
	color: #333;
	font: 12px Arial;
}
.date-item  .price {
	color: #0e83bf;
	font: bold 14px Arial;
}
.date-item .active{
	position: relative;
	border-bottom: none;
	border-top: 1px solid #268fc5;
}
.active .date-leave,
.active .date-back {
	color: #0e83bf;
	font: bold 14px Arial;
}
.active:before {
	position: absolute;
	top: 1px;
	left:1px;
	background: #f84980;
	content: '低';
	color: #fff;
	font: 12px '宋体';
}
.datebar-calendar {
	display: block;
	width: 96px;
	height: 74px;
	float: left;
	border-bottom: 1px solid #268fc5;
	background: url('../image/calendar.png') no-repeat;
}
.datebar-calendar a {
	display: block;
	width: 96px;
	height: 74px;
}
/*airfly-list*/
.airfly-list-content {
	font: 14px Arial;
}
.airfly-list {
	margin-top:20px;
	text-align: center;
}
.airfly-list-header {
	position: relative;
	width: 910px;
	height: 34px;
	background: #26b4d3;
	color: #fff;
}
.airfly-list-header:before {
    content: '';
	display: block;
	position:absolute;
	top: -5px;
	width: 100%;
	height: 4px;
    background: url('../image/airfly-header-border.png') repeat-x;	
}
.list-header-bar>li {
	display: block;
	float: left;
	font: 14px '宋体';
	line-height:34px;
}
.airfly-info {
	width: 122px;
	margin-left: 34px;
	padding-left: 34px;
	text-align: left;
}
.airfly-leave-time {
	width: 130px;
	margin-right: 20px;
	text-align: right;
}
.airfly-duration {
	width: 120px;
}
.airfly-back-time {
	width: 130px;
	margin-left: 20px;
	text-align: left;	
}
.airfly-website {
	width: 90px;
	margin-left: 30px;
	padding:0 20px;
}
.airfly-price {
	width: 140px;

}
.airfly-list-content { font-size: 12px;}
.airfly-1,
.airfly-2 {
	position: relative;
	height: 80px;
	padding-top: 10px;
}
.airfly-icon {
	position: absolute;
	width: 34px;
	height: 100%;
	margin-left:-36px;
	background: url('../image/damei.png') no-repeat;
}
.airfly-item>div {
	display: block;
	float:left;
	height: 180px;
}
.airfly-list-content .airfly-info {
    color: #666;
	line-height: 18px;
	text-align: left;
}
.airfly-name {
	height: 22px;
	color: #000;
	line-height: 22px;
}
.airfly-info i ,
.airfly-back-time i { 
    color: #25b4d2;
	font-style: normal;
    font-size: 12px;	
}
.airfly-leave-time .time,
.airfly-back-time .time{	font-size: 18px;}
.airfly-leave-time .time,
.airfly-back-time .time,
.airfly-duration .duration {
	position: relative;
	height:30px;
	padding-bottom: 12px;
	line-height: 24px;
}
.airfly-duration .duration:after {
	content: '';
	display: block;
	position: absolute;
    left: -46px;
	bottom: 10px;
	width: 214px;
	height: 5px;
	background: url('../image/airfly-bg.png') no-repeat;
}
.airfly-list-content .transfer { position:relative;}
.airfly-list-content .transfer-city,
.airfly-list-content .transfer-airport { 
    margin-bottom: 2px;
    text-indent: 16px;
}
.airfly-list-content .transfer-city:before,
.airfly-list-content .transfer-airport:before {
	position: absolute;
	left:20px;
	width:14px;
	height:14px;
	background: #26b4d3;
	content: '转';
	color: #fff;
	font: 12px '宋体';
	text-indent: 0;
}
.airfly-list-content .transfer-airport:before { content: '停';}
.airfly-list-content .airfly-duration { color: #666; }
.airfly-list-content .airfly-website,
.airfly-list-content .airfly-price {
	display: table;
}
.website-box,
.price-box {
    display: table-cell;
	vertical-align: middle;
}
.website-box>.website {
	height:18px;
	line-height:18px;
	color: #0e83bf;
	
}
.website-box>.price {
	margin-bottom:12px;
	height:18px;
	line-height:18px;
	color: #ff7200;
	
}
.ticket-price {
	padding-right:20px;
	color: #333;
	font-size: 12px;
	text-align: right;
}
.ticket-price>i{
	color: #0e83bf;
	font-style: normal;
	font-size: 14px;
}
.ticket-price>b{
	color: #0e83bf;
	font-style: normal;
    font-size: 26px;
}
.price-tip {
	padding-right:20px;
	color: #666;
	font-size: 12px;
	text-align: right;
}
.reserve-button {
	position: relative;
	margin-top: 10px;
	display: inline-block;
	width: 76px;
	height: 28px;
	line-height: 28px;
	background: #26b4d3;
	color: #fff;
	text-indent: -15px;
}
.reserve-button:before {
	content: '';
	position: absolute;
    top: 11px;
    right: 11px;	
	border-left: 4px solid transparent;
    border-right:4px solid transparent;
    border-bottom: 4px solid #fff;
}
.reserve-button:after {
	content: '';
	position: absolute;
    top: 28px;
    left: 0;	
	border-left: 38px solid transparent;
    border-right:38px solid transparent;
    border-top: 10px solid #26b4d3;
}

