.step {
  width: 48.125rem;
  float: left;
  position: relative;
}
.step .content-list {
  margin: 0;
  padding: 0;
  width: 40.625rem;
}
.step .content-list .content-item {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
.step .content-list .content-item .step-title {
  font-size: 1.125rem;
  font-weight: bolder;
  color: #10D8A5;
  letter-spacing: 0.0625rem;
  border-bottom: dashed 0.0625rem #999;
  padding-bottom: 0.625rem;
}
.step .content-list .content-item label {
  width: 4.6875rem;
  font-size: 0.875rem;
  letter-spacing: 0.0625rem;
  margin-right: 0.625rem;
  display: inline-block;
}
.step .content-list .content-item .input {
  width: 18.75rem;
  height: 2.5rem;
  outline: none;
  border-radius: 0.1875rem;
  border: solid 0.0625rem #e0e0e0;
  color: #333;
  font-size: 0.875rem;
  letter-spacing: 0.0625rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin-right: 0.625rem;
}
.btn {
  width: 9.375rem;
  height: 2.5rem;
  border-radius: 0.1875rem;
  border: none;
  font-weight: bold;
  letter-spacing: 0.0625rem;
  font-size: 0.875rem;
  outline: none;
  cursor: pointer;
}
.green {
  color: #fff;
  background-color: #0EC093;
  margin-right: 3rem;
}
.green:active {
  background-color: #10D8A5;
}
.gray:active {
    color: #999999;
    background-color: black;
}
.red {
  color: #fff;
  background-color: #E86167;
  margin-right: 3rem;
}
.red:active {
  background-color: #EB777C;
}
.step .success-list {
  margin: 3.125rem auto 0 auto;
  padding: 0;
  width: 40.625rem;
}
.step .success-list .success-item {
  text-align: center;
}
.step .success-list .success-item .success-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #0CA881;
  letter-spacing: 0.0625rem;
}
.step .success-list .success-item .success-desc {
  font-size: 1rem;
  letter-spacing: 0.0625rem;
  margin-bottom: 1.25rem;
}
.step .success-list .success-item .success-desc .second {
  color: #E86167;
  font-weight: bold;
  margin-right: 0.3125rem;
}
.step .success-list .success-item .back-btn {
  width: 9.375rem;
  height: 2.5rem;
  background-color: #0CA881;
  color: #fff;
  letter-spacing: 0.0625rem;
  outline: none;
  border: none;
  border-radius: 0.1875rem;
  font-size: 0.875rem;
  font-weight: bold;
}
.main .recover-container .step-container .step-content .step-wrapper .step .QR {
  position: absolute;
  top: 3.125rem;
  left: 4.375rem;
}
.hidden{
    display: none;
}