*{
    margin: 0;
    padding: 0;
}
body{
    font-family: '微软雅黑', 'Arial';
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/* 头部导航 */
#header{
    width: 980px;
    height: 30px;
    margin: 0 auto;
}
#main{
    background-color: #83cced;
}
.q_header_logo{
    padding-top: 3px;
}
.q_header_nav ul{
    float: left;
}
.q_header_right_nav ul{
    float: right;
}
.q_header_nav ul li, .q_header_right_nav li{
    float: left;
    line-height: 30px;
    padding-right: 10px;
    font-size: 13px;
}
.q_header_nav ul li a, .q_header_right_nav ul li a{
    color: gray;
}
.q_header_nav ul li a:hover, .q_header_right_nav ul li a:hover{
    color: #0088a4;
}
.q_header_ser a, .q_header_col a{
    border-left: 1px solid #000;
    padding-left: 10px;
}

/* 背景图 */
.banner01{
    height: 224px;
    background: url(./images/banner_01.png) no-repeat 50% 0;
}
.banner02{
    height: 224px;
    background: url(./images/banner_02.png) no-repeat 50% 0;
}
.banner03{
    height: 224px;
    background: url(./images/banner_03.png) no-repeat 50% 0;
}

/* 时间段 */
.q_main_time{
    position: relative;
    margin: -195px auto 0;
    width: 980px;
    height: 154px;
}
.cur_triangle{
    position: absolute;
    bottom: 100px;
    left: 140px;
    width: 0;
    height: 0;
    border-top: 18px solid white;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 0;
    z-index: 1;
}
.q_main_time_01{
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 332px;
    height: 149px;
    background: url(./images/blue_left_block.png) no-repeat 50% 0;
}
.q_main_time_02{
    display: block;
    position: absolute;
    left: 318px;
    bottom: 0;
    width: 331px;
    height: 153px;
    background: url(./images/gray_center_block.png) no-repeat 50% 0;
}
.q_main_time_03{
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 357px;
    height: 148px;
    background: url(./images/gray_right_block.png) no-repeat 50% 0;
}
.q_main_time_content{
    position: absolute;
    bottom: 25px;
    right: 90px;
}
.q_main_time_num{
    font-size: 32px;
    color: #fff;
}
.q_main_time_title{
    font-size: 24px;
    color: #fff;
}

/* 活动 */
.q_main_activity{
    position: relative;
    margin: 70px auto 0;
    width: 962px;
    height: 262px;
    border: 9px solid #78af24;
    overflow: hidden;
}
.left_activity, .right_activity{
    width: 53%;
    height: 100%;
}
.left_activity{
    position: absolute;
    top: 0;
    left: 0;
    background: url(./images/left_scene.png) no-repeat 0 0;
}
.right_activity{
    position: absolute;
    top: 0;
    right: 0;
    background: url(./images/right_scene.png) no-repeat 0 0;
}
.activity_joint{
    position: absolute;
    left: 49.5%;
    top: 0;
    width: 10px;
    height: 100%;
    background-color: #78af24;
    -webkit-transform: skew(13deg, 0);
    -moz-transform: skew(13deg, 0);
    -ms-transform: skew(13deg, 0);
    -o-transform: skew(13deg, 0);
    transform: skew(13deg, 0);
    z-index: 1;
}
.left_activity_content, .right_activity_content{
    width: 100%;
    height: 135px;
    background-color: rgba(0, 0, 0, .6);
    -webkit-transform: skew(13deg, 0);
    -moz-transform: skew(13deg, 0);
    -ms-transform: skew(13deg, 0);
    -o-transform: skew(13deg, 0);
    transform: skew(13deg, 0);
}
.left_activity_content{
    position: absolute;
    left: -3%;
    bottom: 0;
}
.right_activity_content{
    position: absolute;
    left: 9%;
    bottom: 0;
}
.content_info{
    padding-top: 15px;
    color: white;
    text-align: center;
    -webkit-transform: skew(-13deg, 0);
    -moz-transform: skew(-13deg, 0);
    -ms-transform: skew(-13deg, 0);
    -o-transform: skew(-13deg, 0);
    transform: skew(-13deg, 0);
}
.content_info p{
    font-size: 18px;
}
.content_info a{
    display: block;
    margin: 15px auto;
    width: 131px;
    height: 32px;
    line-height: 32px;
    color: white;
    font-size: 16px;
    background-color: #959595;
    box-shadow: 0 4px #626262;
    border-radius: 16px;
    outline: 0;
}
.content_info a.active{
    background-color: #a7de55;
    box-shadow: 0 4px #336d00;
}
.content_info a.active:hover{
    background-color: #78af24;
}

/* 地区切换导航 */
.q_main_place{
    margin: 34px auto 0;
    width: 980px;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #fff;
}
.place_tab{
    position: relative;
    width: 100%;
    height: 120px;
    background: #ed5172 url(./images/time.png) no-repeat 65px 55px;
    border-radius: 5px;
    box-shadow: 0 5px #9d0035;
}
.place_tab_list{
    position: absolute;
    top: -4px;
    left: 25px;
}
.place_tab_list li{
    width: 84px;
    height: 133px;
    float: left;
    cursor: pointer;
    font-size: 20px;
    color: white;
    text-align: center;
}
.place_tab_list li:hover{
    font-size: 24px;
    background: url(./images/tab_active_middle.png) no-repeat 0 0;
}
.place_tab_list li.first:hover{
    background: url(./images/tab_active_first.png) no-repeat 0 0;
}
.place_tab_list li.last:hover{
    background: url(./images/tab_active_last.png) no-repeat 0 0;
}
.place_tab_list li.up{
    padding-top: 25px
}
.place_tab_list li.down{
    padding-top: 73px;
}

/* 地区内容 */
.place_content{
    width: 100%;
}
