<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="wz.controller"/>
    <mvc:default-servlet-handler/>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"/>
        <property name="maxUploadSize" value="5400000"/>
        <!--<property name="uploadTempDir" value="fileUpload"/>-->
    </bean>

    <!--@MatrixVariable 在Spring MVC中默认是不启用的，启用它需要设置 enable-matrix-variables="true"-->
    <mvc:annotation-driven enable-matrix-variables="true"/>

    <!--<mvc:resources mapping="assets/**" location="assets/"/>-->
    <!--<mvc:resources mapping="js/**" location="js/"/>-->
    <!--<mvc:resources mapping="css/**" location="css/"/>-->
    <!--<mvc:resources mapping="images/**" location="images/"/>-->

</beans>