body {
	margin:0 0;
	padding: 0 0;
    background: #fff;
    font: normal 12px '宋体', sans-serif;
  
}
a {
	display: inline-block;
    text-decoration: none;
}
ul, li {
    list-style: none;
    margin: 0 0;
    padding: 0 0;
}
li {
	display: inline-block;
}

.m-datepicker {
	width: 912px;
	overflow: hidden;
	margin-bottom: 10px;
}

.m-datepicker .date li {
    float: left;
    width: 102px;
    height: 75px;
    border-left: 1px solid #7dbcdc;
    border-bottom: 1px solid #268fc5;
    background: #f3fbfd;
}
.m-datepicker .date li:hover {
    border-bottom: none;
    
    background: #fff;
}

.m-datepicker .date li:hover p {
    font-weight: bold;
    color: #0e83bf;
}
.m-datepicker .date li:last-child {
    border-right: 1px solid #7dbcdc;
}
.m-datepicker .date li p {
    text-align: center;
}
.m-datepicker .date li p:first-child {
    margin: 10px 0 4px 0;
}
.m-datepicker .date li p:nth-child(2) {
    margin: 0 0 8px 0;
}
.m-datepicker .price {
    font: bold 14px 'Arial', sans-serif;
    color: #0e83bf;
    margin: 0;
}
.m-datepicker .prev,.next {
    float: left;
    width: 48px;
    height: 75px;
    background: url('image/arrow.png') no-repeat center center;
    border-bottom: 1px solid #0e83bf;
}
.m-datepicker .next {
    transform: rotate(180deg);
    border-top: 1px solid #0e83bf;
    border-bottom: none;
}
.m-datepicker .price-picker {
    float: left;
    width: 93px;
    height: 76px;
    background: #67cae0 url(image/calendar.png) no-repeat -11px 0;
}

.m-datepicker .price-picker p {
    margin: 56px 0 0 38px;
    color: #fff;
}
.m-datepicker .date .low-price {
    position: relative;
}
.m-datepicker .date .low-price:before {
	position: absolute;
    content: "低";
    width: 14px;
    height: 14px;
    top: 2px;
    left: 2px;
    background: #f84980;
    color: #fff;
    text-align: center;
}


.m-detail {
	position: relative;
	width: 912px;
}

.m-detail .detail-header:before {
	content: '';
    display: block;
    width: 912px;
    height: 4px;
    background: url('image/detail-border-top.png') repeat-x;
}

.m-detail .detail-header {
	position: relative;
	background-color: #26b4d3;
	width: 100%;
	height:36px;
	color: #fff;
}

.m-detail .detail-header span {
    font-size: 14px;
    color: #fff;
    line-height: 35px;
}

.m-detail .detail-header span:nth-child(1) {
    margin-left: 66px;
}

.m-detail .detail-header span:nth-child(2) {
    margin-left: 104px;
}

.m-detail .detail-header span:nth-child(3) {
    margin-left: 40px;
}

.m-detail .detail-header span:nth-child(4) {
    margin-left: 44px;
}

.m-detail .detail-header span:nth-child(5) {
    margin-left: 106px;
}

.m-detail .detail-header span:nth-child(6) {
    margin-left: 60px;
}

.m-detail .detail-header .arrow{
    position: relative;
}

.m-detail .detail-header .arrow:before {
	cursor: pointer;
    content: '';
    width: 7px;
    height: 4px;
    transform: rotate(180deg);
    background: url('image/order-bg.png') no-repeat;
    position: absolute;
    right: -12px;
    bottom: 8px;
}

.m-detail .detail-header .arrow:after {
	cursor: pointer;
    content: '';
    width: 7px;
    height: 4px;
    background: url('image/order-bg.png') no-repeat;
    position: absolute;
    right: -12px;
    bottom: 1px;
}

.m-detail ul, li{
	position: relative;
	
}
.m-detail ul {
	width:680px;
	float: left;
}
.m-detail .detail-content .detail-plane {
	display: relative;
    float: left;
    width: 180px;
    height: 92px;
}
.m-detail .detail-content .detail-plane img {
    margin: 12px 9px 0 33px;
    float: left;
}

.m-detail .detail-content .detail-plane p {
    margin: 18px 0 8px 0;
}

.m-detail .detail-content .detail-plane span:nth-of-type(1) {
    display: inline-block;
    margin: 0 1px 0 68px;
    color: #666;
    font-family: 'Arial';
    border-bottom: 1px dotted #666;
}
.m-detail .detail-content .detail-plane span:nth-of-type(2) {
    margin-left: 68px;
    font-family: 'Arial';
    color: #666;
    float:left;
}
.m-detail .detail-content .detail-plane .detail-share {
    float: right;
    color: #26b4d3;
    margin-top: 2px;
}

.m-detail .detail-content .detail-time {
	float: left;
	overflow: hidden;

}
.m-detail .detail-content .start-time,.duration,.end-time{
	float: left;
}

.m-detail .detail-content .start-time {
    width: 134px;
}

.m-detail .detail-content .start-time>p:nth-child(1),
.m-detail .detail-content .end-time>p:nth-child(1) {
    font: 18px 'arial';
    color: #000;
    margin: 14px 0;
    text-align: right;
}

.m-detail .detail-content .start-time>p:nth-child(2),
.m-detail .detail-content .end-time>p:nth-child(2) {
    text-align: right;
}

.m-detail .detail-content .duration {
	width: 170px;

}

.m-detail .detail-content .duration p {
    text-align: center;
    color: #666;
}

.m-detail .detail-content .duration p span {
    font-family: 'Arial';
}

.m-detail .detail-content .duration .transfer-airport:before,
.m-detail .detail-content .duration .terminal-airport:before {
    background: #26b4d3;
    top: 0px;
    left: 28px;
    color: #fff;
    font-size: 13px;
    margin-right: 4px;
}
.m-detail .detail-content .duration .transfer-airport:before {
    content: '转';
}

.m-detail .detail-content .duration .terminal-airport:before {
    content: '停';

}

.m-detail .detail-content .duration  p:nth-child(1) {
    margin-top: 20px;
    position: relative;
}



.m-detail .detail-content .duration p:nth-child(2) {
    margin: 20px 0 3px 14px;
}

.m-detail .detail-content .duration p:nth-child(3) {
    margin: 0 0 0 14px;
}

.m-detail .detail-content .end-time p:nth-child(1) {
    margin-left: 0;
    text-align: left;
}

.m-detail .detail-content .end-time p:nth-child(1):after {
    content: '+1天';
    color: #25b4d2;
    font-size: 12px;
    vertical-align: baseline;
    margin-left: 6px;
}
.m-detail .detail-content ul li .line {
	position: absolute;
	width: 220px;
	height: 10px;
	top: 32px;
	left: 290px;
}


.m-detail .detail-content .recommend {
	float: left;
	width: 60px;
	margin-left: -5px;
	margin-top: 36px;
}

.m-detail .detail-content .recommend .item p,a {
	text-align: end;
	color: #0e83bf;
	margin-bottom: 2px;
}
.m-detail .detail-content .recommend .item p:nth-child(2) {
	margin-top: 0;
	color: #ff7200;
	
}

.m-detail .detail-content .recommend .item:nth-child(2) {
	margin-top: 25px;
}


.m-detail .detail-content .lowest-price {
	float:left;
	width: 100px;
	margin-left: 55px;
	margin-top: 40px
}
.m-detail .detail-content .lowest-price p {
    text-align: right;
}

.m-detail .detail-content .lowest-price p:nth-child(1) {
    margin-bottom: 5px;
}

.m-detail .detail-content .lowest-price p:nth-child(1) span {
    font: 26px 'Arial', sans-serif;
    color: #0e83bf;
}

.m-detail .detail-content .lowest-price p:nth-child(1)>span>span {
    font-size: 14px;
}

.m-detail .detail-content .lowest-price p:nth-child(2) {
    color: #666;
    margin: 0 0 8px 0;
}

.m-detail .detail-content .lowest-price p:nth-child(2)>span {
    font-family: 'Arial';
}

.m-detail .detail-content .lowest-price .booking {
	float: right;
}