*{
    padding: 0;
    margin: 0;
}
.main .slide-door{
    width: 958px;
    height: 477px;
    margin: 0 auto;
    border: 1px solid lightgray;
    position: relative;
    overflow: hidden;
}
.main .slide-door img{
    position: absolute;
    cursor: pointer;
    border-left: 1px solid #d1d1d1;
}