@charset "utf-8";
.no-data {
	display: flex;
	align-items: center;
	justify-content: center;
}
.list-container {
	border: 1px solid #e5e5e5;
	.caption {
		display: flex;
		height: 2rem;
		line-height: 2rem;
		background: #f8f8f8;
		span{
			padding: 0 .5rem;
		}
		span:nth-child(1) {
			flex: 2;
		}
		span:nth-child(2) {
			flex: 3;
		}
		span:nth-child(3) {
			flex: 1;
		}
		span:nth-child(4) {
			flex: 1;
		}
		span:nth-child(5) {
			flex: 1;
		}
		span:nth-child(6) {
			flex: 4;
		}
		span:nth-child(7) {
			flex: 1;
		}
		span:nth-child(8) {
			flex: 2;
		}
	}
	ul {
		padding: 0;
		margin: 0;
	}
}