@charset "utf-8";
.state-btn-container {
	flex: 1;
	a {
		display: inline-block;
		width: 4.5rem;
		height: 1.6rem;
		margin: 1rem .1rem;
		text-decoration: none;
		text-align: center;
		line-height: 1.6rem;
		color: #3775c0;
	}
	.state-bg {
		border-radius: 10%;
		background: #3775c0;
		color: #fff;
	}
}