@charset "utf-8"; 

.m-calendar{
    width: 100%;
    height: 75px;
    position: relative;
    button{
        width: 47px;
        height: 73px;
        position: relative;
        top: -1px;
        margin: 0;
        border:{
            top: 1px solid #FFF;
            bottom: 1px solid #268FC5;
        }
        outline: none;
    }
    .calendar-left{
        right: -4px;
        border:{
            right: 1px solid #7DBCDC;
            left: none;
        }
        background: url(../image/calendar-left.png);
    }
    .calendar-right{
        left: -4px;
        border:{
            left: 1px solid #7DBCDC;
            right: none;
        }
        background: url(../image/calendar-right.png);
    }
    .calendar-date{
        display: inline-block;
        li{
            width: 102px;
            height: 73px;
            float: left;
            text-align: center;
            border:{
                top: 1px solid #FFF;
                right: 1px solid #7DBCDC;
                bottom: 1px solid #7DBCDC;
            }
            p{
                font-family: "SimSun";
                font-size: 12px;
                line-height: 20px;
                &:last-child{
                    font-family: "Arial";
                    font-size: 14px;
                    line-height: 22px;
                    color: #0e83bf;
                }
                &:first-child{
                    margin-top: 8px;
                }
            }
        }
        .calendar-selected{
            border:{
                top-color: #7DBCDC;
                bottom-color: #FFF;
            }
            p{
                color: #0e83bf;
            }
        }
    }
    .calendar-img{
        position: absolute;
        right: 0;
        top: 1px;
        width: 96px;
        height: 74px;
        background: url(../image/calendar-price.png);
        button{
            position: absolute;
            left: 6px;
            top: 5px;
            outline: none;
            border: none;
            width: 36px;
            height: 36px;
            background: url(../image/calendar-button.png);
        }
        p{
            font-family: "SimSun";
            font-size: 12px;
            color: #FFF;
            position: absolute;
            right: 4px;
            bottom: 6px;
        }
    }
}