@charset"utf-8";
body,header,div,ul,li,footer,img,p,a,span,h1,h2,h3,h6 {
	margin:0;
	padding:0;
	border:0;
	list-style: none;
	font-family: Microsoft YaHei;
	text-decoration: none; 
}
.clearFix:after {
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0;
}
.clearFix {
	zoom:1;
}
body {
	background-color:#7ecdf4; 
}
/* header */
header {
	width: 1340px;
	height: 592px;
	margin: 0 auto;
	background: url(bgimg/bg.jpg) no-repeat;
	background-position: 0 0;
	background-size: cover;
}
header .head {
	width: 1340px;
	height: 20px;
	background-color: #fff;
	color: #878787;
	font-size: 14px;
	cursor: pointer;
}
.head ul {
	height: 20px;
	line-height: 20px;
	display: inline-block;
}
ul.nav {
	width: 600px;
	height:20px ;
	margin:0 150px 0 200px;
}
ul.operate {
	width: 300px;
}
header .head li {
	float: left;
	height: 15px;
	line-height: 15px;
	margin: 3px;
	padding-right: 4px;
}
.head ul.operate li {
	border-right: 1px solid #878787;
}
header .activity {
	width: 945px;
	height: 150px;
	margin-top: 420px ;
	margin-left:205px;
	background: url(bgimg/bg1.jpg) no-repeat;
	background-position: -480px -520px; 
}
.activity ul {
	width: 945px;
	height: 150px;
	cursor: pointer;
}
.activity ul li {
	width: 315px;
	height: 150px;
	float: left;
	font-size: 20px;
	color: #fff;
	text-align: center;
}
.activity ul li p {
	width: 315px;
	height: 30px;
	line-height: 50px;
}
/* content */
.content {
	width: 1340px;
	margin: 0 auto;
	
	font-family: "宋体";
}
.content .begin {
	width: 1340px;
	height: 300px;
	margin: 0 auto;
	padding-top: 10px;
	text-align: center;
}
.begin div {
	display: inline-block;
}
.begin .enter {
	width: 190px;
	height: 100px;
}
.begin .enter p {
	width: 160px;
	height: 40px;
	line-height: 40px;
	border-radius: 20px;
	box-shadow: 0 2px #838280;
}
.begin .enter a{
	color: #fff;
	font-size: 18px;
	cursor: pointer;
}
.enter p.btn-s,
.enter p.btn-b {
	background-color: #a7dd56;
}
.enter p.btn-b {
	margin-top: 20px;
}
.enter p.btn-s:hover,
.enter p.btn-b:hover {
	background-color: #79af25;
}
.begin .picture {
	width: 940px;
	height: 280px;
	line-height: 280px;
	background-color: #73ae33;
	text-align: center;
	position: relative;
}
.begin .picture img {
	width: 930px;
	height: 270px;
}
.begin .picture div {
	width: 460px;
	height: 100px;
	z-index: 2;
	position: absolute;
}
.begin .picture div.hotel {
	left: 10px;
	top:28px;
} 
.begin .picture div.spring {
	right: 0;
	top:28px;
} 
.begin .picture p {
	height: 30px;
	color: #fff;	
}
.begin .picture p.title {
	font-size: 20px;
	font-weight: bold;
}
/* place */
.place {
	width: 940px;
	height: 120px;
	margin: 0px auto;
	background-color: #ec5171;
	box-shadow: 0 5px #9d0034;
	border-radius: 7px;
}
.place ul {
	width: 840px;
	height: 120px;
	margin-left: 50px;
	background: url(bgimg/disc.jpg) no-repeat center center; 
	background-size: contain;
}
.place ul li {
	float: left;
	height: 120px;	
	color: #fff;
	font-size: 16px;
	margin-left: 35px;
}
.place ul li:nth-child(odd) {
	margin-top: 25px;
}
.place ul li:last-child {
	margin-right: -20px;
}
.place ul li:first-child {
	margin-left: -20px;
}
.place ul li:nth-child(even) {
	margin-top: 79px;
}
/* js判断完成tab以及距离 */
.place ul li.on {
	font-size: 20px;
	height: 123px;
	line-height: 60px;
	margin-top: -3px;
	margin-left:23px;
	background-color: #a6143b;
}
.place ul li:first-child.on {
	margin-left:0px;
}
.place ul li.ondown {
	font-size: 20px;
	height: 123px;
	line-height: 180px;
	margin-top: -3px;
	margin-left:20px;
	background-color: #a6143b;	
}
/* booking */
.booking {
	width: 940px;
	margin: 5px auto;
	background: #f3eedb;
}
.code {
	width: 160px;
	height: 180px;
	background: url(bgimg/bg.jpg) no-repeat;
	background-position: -270px -1910px ; 
	font-size: 14px;
	color: #fff;
	margin-top: 20px;
	position: absolute;
	left: 20px;
}
.top { 
	width: 150px;
	height: 415px;
	padding-top:105px;
	background: url(bgimg/bg.jpg) no-repeat;
	background-position: -1500px -1885px;
	color: #fff;
	position: absolute;
	right: 20px;
	top:1020px;
}
.top ul li {
	width: 150px;
	text-align: center;
	margin-top: 11px; 
}
.top ul li.topLogo {
	margin-top: 35px;
}
.top ul a {
	color: #fff;
}
/* 公共 */
.hotel {
	width:940px;
	margin: 0 auto;
	position: relative;
}
.hotel .title,
.hotel .title a {
	color: #dc5a71;
}
.hotel .title {
	height: 70px;
}
h2 img {
	float: left;
}
.hotel .title h2,
.hotel .title span,
.hotel .title a {
	position: absolute;
	top: 20px;
}
.hotel h2 {
	height: 40px;
	line-height: 40px;
	left: 10px;
}
.hotel .title span {
	left:200px;
	line-height: 50px;
}
.hotel .title a {
	right: 5px;
	line-height: 50px;
}
.hotel .main,
.hotel .small {
	width: 920px;
	margin:0 auto;
	background-color: #fff;
}
.hotel .main {
	height: 330px;
	background: url(bgimg/bg.jpg)  no-repeat;
	background-position: -640px -4310px;
	position: relative;
	color: #fff;
}
.main .add {
	position: absolute;
	left: 5px;
	top: 5px;
}
.main div.intr {
	width: 250px;
	position: absolute;
	right: 5px;
	top: 30px;
}
.intr .tit {
	font-size: 20px;
	font-weight: bold;
}
.intr .intro {
	font-size: 13px;
}
.main .price {
	margin-top: 50px;
}
.price,
.oldprice {
	text-align: center;
}
.oldprice {
	color: #8f9590;
}
.price span {
	font-size: 35px;
	font-weight:bold; 
}
.intr a {
	display: inline-block;
	font-size: 30px;
	color: #fff;
}
.intr .btn {
	margin-top: 50px;
	text-align: center;
}
.hotel .small {
	height: 330px;
	background: url(bgimg/bg.jpg)  no-repeat;
	background-position: -670px -4650px;
	position: relative;
	color: #fff;
}
.small .ls,
.small .rs {
	float: left;
	width: 450px;
}
.small .rs {
	margin-left: 20px;
}
.small .ls .add {
	position: absolute;
	top: 5px;
	left: 5px;
}
.small .rs .add {
	position: absolute;
	top: 5px;
	left: 465px;	
}
.small .int {
	width: 250px;
	position: absolute;
	top: 200px;
} 
.ls .int {
	left: 5px;
}
.rs .int {
	left: 465px;
}
.int .tit {
	font-size: 20px;
	font-weight: bold;
}
.int .oldprice,
.int .price {
	display: inline-block;
	margin-top: -5px;
}
.ls .int p.btn {
	width: 80px;
	position: absolute;
	top: 30px;
	left: 330px;
}
.rs .int p.btn {
	width: 80px;
	position: absolute;
	top: 30px;
	left: 355px;
}
.int p a{
	color: #fff;
	font-size: 20px;
}
.second .hotel .title span {
	left:150px;
}
.packet {
	width: 940px;
	height: 200px;
	margin: 10px auto;
	background: url(bgimg/bg1.jpg) no-repeat;
	background-position: -500px -5200px;
	position: relative;
}
.packet a {
	width: 160px;
	height: 32px;
	line-height: 32px;
	border-radius: 14px;
	box-shadow:0 2px #336d00; 
	background-color: #a8de53;
	position: absolute;
	top: 140px;
	left: 389px;
	font-size: 17px;
	color: #fff;
	text-align: center;

}
.packet a:hover {
	background-color: #79af25;
}
.twitter {
	width: 940px;
	margin: 0px auto;
	background-color: #7ecdF4;
	text-align: center;
}
.twitter h3 {
	color: #fff;
}
.twitter h3 span {
	color: #f04f71;
	font-size: 25px;
}
.twitter iframe {
	width: 800px;
	height: 200px;
	border-top:1px solid #90adbb;
	border-left: 1px solid #90adbb;
	background-color: #fff;
}
footer {
	width: 1340px;
	margin: 40px auto;
	padding:5px 0 10px 0;
	background-color: #fff;
}
footer .ing{
	width: 940px;
	margin: 15px auto;
}
footer h6 {
	color:#afafaf;
	font-size: 10px;
	text-align: center;
}
footer .ing .pre {
	width: 940px;
	margin: 0 auto;
}
footer .ing .pre div {
	width: 460px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	display: inline-block;
	background-color: #ebebeb;
	margin-top: 10px;
	color: #989898;
}
footer ul {
	width: 940px;
	margin:5px auto;
}
footer ul li {
	margin-left: 3px;
	float: left;
	font-size: 14px;
}
footer ul li a { 
	color: #8d8d8d;
}
footer p {	
	width: 940px;
	margin:0 auto;
	color: #8d8d8d;
	font-size: 14px;
	padding-left:6px; 
}
.company {
	width: 502px;
	height: 50px;
	margin: 10px auto;
	background:url(bgimg/bg1.jpg) no-repeat;
	background-position: -740px -6120px;	
}