* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
.clearFix:after {
    content: '';
    clear: both;
    height: 0;
    background: lawngreen;
    display: block;
}
a {
    text-decoration:none;
    color:#fff;
}