* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
/*导航条部分样式*/
.nav-list {
	width: 980px;
	height: 30px;
	margin: 0 auto;
	font-size: 13px;
	position: relative;
}
.nav-list-left ,.nav-list-right {
	float: left;
}
.nav-list-left img {
	position: absolute;
	top: 6px;
}
.nav-list-left li,.nav-list-right li {
	float: left;
	margin-right: 10px;
	margin-top: 6px;
}
.nav-list-left li a,.nav-list-right li a {
	color: #777777;
}
.nav-list-right li a {
	border-left: solid 2px rgba(119,119,119, 0.5);
	padding-left: 10px;
}
.nav-list-left li:nth-child(2) {
	margin-left: 13px;
	margin-right:12px;
}
.nav-list-right li:first-child{
	float: left;
	margin-left: 180px;
}
.nav-list-right li:last-child{
	margin-right: 0;
}
.nav-list-right li:first-child a:first-child {
	border:none;
}
/*中间时间轴图片部分*/
/*大图片*/
.time-axis-group {
	position: relative;
}
.mainImage {
	height: 703px;
	background: #7ecef4 url(../images/child.png) no-repeat 50% 0;	
}
.time-axis {
	width: 980px;
	margin: 0 auto;
}
/*时间轴左边中间和右边*/
#time-axis-left {
	position: absolute;
	top:507px;
	left:183px;
}
#time-axis-center {
	position: absolute;
	top:503px;
	left:500px;
}
#time-axis-right {
	position: absolute;
	top:509px;
	left:804px;
}
/*左边时间块的背景图和文字*/
#timeAxisLeftImg {
	width: 331px;
	height: 149px;
	background: url(../images/time-axis-left-blue.png) no-repeat;
}
#timeAxisLeftText {
	position: absolute;
	top: 40px;
	left: 60px;
}
#timeAxisLeftText p:first-child {
	color: #fff;
	font-size: 36px;
}
#timeAxisLeftText p:last-child {
	color: #fff;
	font-size: 24px;
	text-indent: 1em;
}
#timeAxisLeftText p:first-child:first-letter{
	color: #fff;
	font-size: 48px;
}
/*中间时间块的背景图和文字*/
#timeAxisCenterImg {
	width: 331px;
	height: 153px;
	background: url(../images/time-axis-center-grey.png) no-repeat;
}
#timeAxisCenterText {
	position: absolute;
	top: 45px;
	left: 60px;
}
#timeAxisCenterText p:first-child {
	color: #fff;
	font-size: 36px;
}
#timeAxisCenterText p:last-child {
	color: #fff;
	font-size: 24px;
	text-indent: 1em;
}
#timeAxisCenterText p:first-child:first-letter{
	color: #fff;
	font-size: 48px;
}
/*右边时间块的背景图和文字*/
#timeAxisRightImg {
	width: 357px;
	height: 148px;
	background: url(../images/time-axis-right-grey.png) no-repeat;
}
#timeAxisRightText {
	position: absolute;
	top: 40px;
	left: 80px;
}
#timeAxisRightText p:first-child {
	color: #fff;
	font-size: 36px;
}
#timeAxisRightText p:last-child {
	color: #fff;
	font-size: 24px;
	text-indent: 1em;
}
#timeAxisRightText p:first-child:first-letter{
	color: #fff;
	font-size: 48px;
}
/*三角形*/
#triangle-left, #triangle-center, #triangle-right {
	width: 0;
	height: 0;
	border-top: solid 20px #fff;
	border-left: solid 20px transparent;
	border-right: solid 20px transparent;
	position: absolute;
}
/*主要信息介绍*/
.mainInformation {
	background-color: #7ecef4;
	padding-top:40px;
}
/*二级页面入口*/
.second-class-page {
	width: 962px;
	height:263px;
	border:solid 9px #78af24;
	margin: 0 auto;
	position: relative;
}
/*左边图片及信息*/
#spaPalace {
	position: absolute;
	top: 0;
	left: 0;
}
#spaPalaceImg {
	width: 506px;
	height: 263px;
	background:url(../images/spa-palace.png) no-repeat 0 0;
}
.parallelogram-border {
	width: 10px;
	height: 263px;
	background-color: #78af24;
	position: absolute;
	top: 0;
	left: 476px;
	transform:skew(13deg);
	-ms-transform:skew(13eg); 	
    -moz-transform:skew(13deg); 	
    -webkit-transform:skew(13deg); 
    -o-transform:skew(13deg); 	
}
#spaPalaceInfor {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 506px;
	height: 130px;
}
#spaPalaceInfor p:first-child {
	color: #fff;
	font-size: 24px;
	position: absolute;
	left: 80px;
	top: 10px;
}
#spaPalaceInfor p:nth-child(2){
	color: #fff;
	font-size: 18px;
	position: absolute;
	left: 88px;
	top: 48px;
}
#spaPalaceInfor button{
	background-color: #a7de55;
	color: #fff;
	font-size: 16px;
	position: absolute;
	left: 140px;
	top: 80px;
	width: 162px;
	height: 37px;
	border:none;
	border-radius:25px;
	box-shadow: 0 5px 3px #336d00;
}
#spaPalaceInfor button:hover{
	background-color: #78af24;
	cursor:pointer;
}
/*右边图片及信息*/
#spaGirl {
	position: absolute;
	top: 0;
	left: 456px;
	width: 506px;
	height: 265px;
	overflow:hidden;
}
#spaGirlImg {
	width: 506px;
	height: 263px;
	background:url(../images/spa-girl.png) no-repeat 0 0;
}
#spaGirlInfor {
	background-color: rgba(0, 0, 0, 0.5);
	width: 506px;
	height: 130px;
	position: absolute;
	bottom:1px;
	left: 45px;
	transform:skew(13deg,0deg);
	-ms-transform:skew(13deg,0deg); 	
    -moz-transform:skew(13deg,0deg); 	
    -webkit-transform:skew(13deg,0deg); 
    -o-transform:skew(13deg,0deg);
}
#spaGirlInfor div {
	transform:skew(-13deg,0deg);
	-ms-transform:skew(-13deg,0deg); 	
    -moz-transform:skew(-13deg,0deg); 	
    -webkit-transform:skew(-13deg,0deg); 
    -o-transform:skew(-13deg,0deg);
}
#spaGirlInfor p:first-child {
	color: #fff;
	font-size: 24px;
	position: absolute;
	left: 150px;
	top: 8px;
}
#spaGirlInfor p:nth-child(2){
	color: #fff;
	font-size: 18px;
	position: absolute;
	left: 100px;
	top: 44px;
}
#spaGirlInfor button{
	background-color: #959595;
	color: #fff;
	font-size: 16px;
	position: absolute;
	left: 160px;
	top: 80px;
	width: 162px;
	height: 37px;
	border:none;
	border-radius:25px;
	box-shadow: 0 5px 3px #626262;
}
#spaPalaceInfor button:hover{
	background-color: #78af24;
	cursor:pointer;
}
/*酒店主要信息*/
/*北上广部分*/
.placeInfs {
	width: 980px;
	margin: 0 auto;
}
.B_S_G {
	background-color: #ed5172;
	border-radius: 5px;
	box-shadow: 0 7px #9d0035;
    position: relative;
    height: 120px;
}
.B_S_G_listupgroup {
	width: 945px;
	height: 44px;
	margin: 0 auto;
	position: relative;
}
.B_S_G_listupgroup li {
	display: block;
	font-size: 20px;
    color: #fff;
    float: left;
    width: 84px;
    height: 133px;
    text-align: center;
    margin:-4px 85px 0 0;
    padding-top: 25px;
    padding-left: 2px;
}
.B_S_G_listupgroup li:hover {
	font-size: 24px;
	padding-top: 22px;
	background: url(../images/tablistbg.png) no-repeat 0 0;
}
.B_S_G_listupgroup li:last-child {
	margin-right: 0;
}
.B_S_G_listdowngroup {
	width: 800px;
	height: 44px;
	position: absolute;
	top: 0;
	left: 103px;
}
.B_S_G_listdowngroup li {
	display: block;
	width: 84px;
	height: 133px;
	color: #fff;
	font-size: 20px;
	float: left;
	padding-top: 75px;
	padding-left: 9px;
	margin:-4px 80px 0 0;
}
.B_S_G_listdowngroup li:hover {
	font-size: 24px;
	padding-top: 72px;
	background: url(../images/tablistbg.png) no-repeat 0 0;
}
.B_S_G_listdowngroup li:last-child {
	margin-right: 0;
}
.B_S_G_listupgroup li span {
	display: block;
	width: 5px;
	height: 5px;
	border-radius:50%;
	background-color:#fff; 
	margin-left: 39px;
	margin-top: 11px;
}
.B_S_G_listupgroup li:hover span {
	width: 10px;
	height: 10px;
	margin-left: 36px;
	margin-top: 7px;
}
.B_S_G_listdowngroup li span {
	display: block;
	width: 5px;
	height: 5px;
	border-radius:50%;
	background-color:#fff;
	margin: -13px 10px 10px 26px;
}
.B_S_G_listdowngroup li:hover span {
	width: 10px;
	height: 10px;
	margin: -13px 10px 10px 28px;
}
.baseline {
	width: 858px;
	height: 1px;
	background-color: #fff;
	position: absolute;
	top: 60px;
	left: 60px;
	z-index: 2;
}
/*第一泡信息*/
.oneInformation {
	background-color: #f3eedb;
}
.onetitle {
	position: relative;
	padding: 35px 5px 20px 20px; 
}
.onetitle_pic {
	width: 51px;
	height: 50px;
	display: inline-block;
	background: url(../images/one_titlepic.png) no-repeat 0 0;
	float: left;
}
.onetitle span:nth-child(2) {
	font-size: 42px;
	color: #ed5172;
	display: inline-block;
	line-height: 42px;
	margin-left: 5px;
	border-right:solid 1px #ed5172;
	margin-top: 5px;
}
.onetitle span:nth-child(3) {
	display: inline-block;
	font-size: 18px;
	color: #ed5172;
	margin-left: 10px;
}
.onetitle a{
	font-size: 14px;
	color: #ed5172;
	margin-left: 270px;
}
.oneBigPalace {
	width: 946px;
	height: 306px;
	margin: 0 auto;
	background: url(../images/oneInfBigPalace.png) no-repeat 0 0;
	border:solid 8px #fff;
	position: relative;
	overflow: hidden;
}
.oneInfMask {
	width: 290px;
	height: 306px;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top:0;
	right:0;
}
.oneInfMask span:first-child{
	color: #fff;
	font-size:24px;
	display: inline-block;
	margin-top: 35px;
	margin-left: 20px;
}
.oneInfMask span:nth-child(2) {
	display: inline-block;
	font-size: 14px;
	color: #fff;
	margin-top: 10px;
	margin-left: 20px;
}
.oneInfMask p:nth-child(3) {
	font-size: 48px;
	color: #fff;
	margin-top: 25px;
	margin-left: 35px;
	transform:skew(-11deg,0deg);
}
.oneInfMask p:nth-child(3):first-letter {
	font-size: 24px;
	color: #fff;
	margin-top: 25px;
	margin-left: 30px;
}
.oneInfMask p:nth-child(4) {
	font-size: 16px;
	color: #777;
	margin-left: 95px;
	transform:skew(-11deg,0deg);
}
.oneBigPalaceOrderButton {
	color: #fff;
	width: 290px;
	height: 70px;
	border:none;
	background-color: #ed5172;
	font-size: 24px;
	position: absolute;
	left: 0;
	top: 236px;
}
.oneBigPalaceOrderButton:hover {
	background-color: #ff92ac;
	cursor:pointer;
}
.fourSmallPalaces {
	width: 980px;
	/*height: 670px;*/
	height: auto;
	overflow: hidden;
}
.SmallPalace {
	width: 460px;
	height: 307px;
	background: url(../images/oneInfSmallPalace.png) no-repeat 0 0;
	border: solid 8px #fff;
	float: left;
	margin: 8px 0 8px 9px;
	position: relative;
}
.fourSmallPalaces div:nth-child(3){
	margin-top: 0;
}
.fourSmallPalaces div:nth-child(4){
	margin-top: 0;
}
.smallBSGMask {
	color: #fff;
	width: 63px;
	height: 34px;
	background-color: rgba(0,0,0,0.5);
	padding: 5px 5px 5px 5px;
}
.smallBSGText {
	color: #fff;
	font-size: 14px;
	position: absolute;
	top: 12px;
	left: 14px;
}
.FourSmallPalaceMask {
	width: 460px;
	height: 109px;
	background-color:rgba(0,0,0,0.5);
	position: absolute;
	bottom:0;
}
.FourSmallPalaceMask p:first-child{
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 20px;
	color: #fff;
}
.FourSmallPalaceMask p:nth-child(2){
	position: absolute;
	top: 45px;
	left: 15px;
	font-size: 14px;
	color: #fff;
}
.FourSmallPalaceMask span:nth-child(3){
	position: absolute;
	top: 80px;
	left: 15px;
	font-size: 16px;
	color: #777;
	transform:skew(-11deg,0deg);
}
.FourSmallPalaceMask span:nth-child(4){
	position: absolute;
	top: 68px;
	left: 115px;
	font-size: 26px;
	color: #fff;
	transform:skew(-11deg,0deg);
}
.FourSmallPalaceMask span:nth-child(4):first-letter{
	position: absolute;
	top: 70px;
	left: 15px;
	font-size: 16px;
	color: #fff;
	transform:skew(-11deg,0deg);
}
.SmallPalaceOrderButton {
	height: 109px;
	width: 110px;
	position: absolute;
	right: 0;
	background-color: #ed5172;
	border: none;
	color: #fff;
	font-size: 20px;
}
.SmallPalaceOrderButton:hover {
	background-color: #ff92ac;
	cursor:pointer;
}
/*双泡信息*/
.twoInformation {
	background-color: #f3eedb;
}
.twotitle {
	position: relative;
	padding: 12px 5px 20px 20px; 
}
.twotitle_pic {
	width: 50px;
	height: 50px;
	display: inline-block;
	background: url(../images/two_titlepic.png) no-repeat 0 0;
	float: left;
}
.twotitle span:nth-child(2) {
	font-size: 42px;
	color: #ed5172;
	display: inline-block;
	line-height: 42px;
	margin-left: 10px;
	border-right:solid 1px #ed5172;
	margin-top: 5px;
}
.twotitle span:nth-child(3) {
	display: inline-block;
	font-size: 18px;
	color: #ed5172;
	margin-left: 10px;
}
.twotitle a{
	font-size: 14px;
	color: #ed5172;
	margin-left: 220px;
}
/*团泡信息*/
.threeInformation {
	background-color: #f3eedb;
}
.threetitle {
	position: relative;
	padding: 12px 5px 20px 20px; 
}
.threetitle_pic {
	width: 50px;
	height: 50px;
	display: inline-block;
	background: url(../images/two_titlepic.png) no-repeat 0 0;
	float: left;
}
.threetitle span:nth-child(2) {
	font-size: 42px;
	color: #ed5172;
	display: inline-block;
	line-height: 42px;
	margin-left: 10px;
	border-right:solid 1px #ed5172;
	margin-top: 5px;
}
.threetitle span:nth-child(3) {
	display: inline-block;
	font-size: 18px;
	color: #ed5172;
	margin-left: 10px;
}
.threetitle a{
	font-size: 14px;
	color: #ed5172;
	margin-left: 345px;
}
/*超值酒店*/
.fourInformation {
	background-color: #f3eedb;
}
.fourtitle {
	position: relative;
	padding: 12px 5px 20px 20px; 
}
.fourtitle span:first-child {
	font-size: 42px;
	color: #ed5172;
	display: inline-block;
	line-height: 42px;
	margin-left: 10px;
	border-right:solid 1px #ed5172;
	margin-top: 5px;
}
.fourtitle a{
	font-size: 14px;
	color: #ed5172;
	margin-left: 463px;
}
/*红包部分*/
.lessInformation {
	background-color: #7ecef4;
	padding-top: 30px;
	height: 660px;
}
.redBag {
	width: 980px;
	height: 169px;
	background:url(../images/redBag.png) no-repeat 0 0;
	margin: 0 auto;
}
.redBagOrderButton {
	background-color: #a7de55;
	color: #fff;
	font-size: 16px;
	width: 162px;
	height: 37px;
	border:none;
	border-radius:25px;
	box-shadow: 0 5px 3px #336d00;
	margin-top: 110px;
	margin-left: 400px;
}
.redBagOrderButton:hover{
	background-color: #336d00;
}
.compareSpaGirlandBoy{
	height: 39px;
	width: 480px;
	padding-top: 25px;
	padding-bottom: 35px;
	margin: 0 auto;
} 
.compareSpaGirlandBoy span:first-child{
    display: inline-block;
    height: 50px;
    vertical-align: bottom;
    font-size: 48px;
    color: #ed5172;
    text-shadow: 1px 1px 1px #626262;
}
.compareSpaGirlandBoy span:last-child{
    display: inline-block;
    height: 32px;
    line-height: 37px;
    vertical-align: bottom;
    font-size: 30px;
    color: #fff;
    text-shadow: 1px 1px 1px #626262;
}
.whiteblock {
	width: 858px;
	height: 258px;
	background-color: #fff;
	margin: 0 auto;
	box-shadow: 1px 1px 1px #626262 inset;
}
/*底部的信息部分*/
footer {
	padding-bottom: 50px;
	background-color: #fff;
	padding-top: 18px;
}
.onefooter {
	width: 1020px;
	margin: 0 auto;
	text-align: center;
}
.onefooter p{
	font-size: 14px;
	color: #898989;
	margin-bottom: 20px;
}
.banners {
	overflow: hidden;
}
.banners div{
	float: left;
	width: 480px;
    height: 60px;
    background-color: #ebebeb;
    font-size: 12px;
    color: #898989;
    text-align: center;
    line-height: 60px;
    margin: 0 0 20px 20px;
}
.twofooter {
	width: 980px;
	margin: 0 auto;
}
.twofooter p:first-child{
	font-size: 12px;
	text-align: center;
}
.twofooter p:first-child a{
	color: #898989;
}
.twofooter p:first-child a:hover{
	color: #ff6600;
    text-decoration: underline;
}
.twofooter p:last-child{
	margin-top: 5px;
	font-size: 12px;
	text-align: center;
	color: #898989;
}
.adpics {
	width: 430px;
	margin: 0 auto;
	padding-top: 20px;
}
/*左边的悬浮窗*/
#floatWindow_left {
	width: 160px;
	height: 180px;
	position: fixed;
	left: 20px;
	top: 100px;
	padding-top: 10px;
	background-color: #ed5172;
	box-shadow: 0 8px 0 #9d0035;
}
#floatWindow_left span {
	display: block;
	margin:  0 auto;
	font-size: 12px;
	text-align: center;
	color:#fff;
}
#floatWindow_left div {
	width: 140px;
	height: 140px;
	margin: 0 auto;
	background-color: #fff;
	margin-top: 8px;
}
#floatWindow_left div img {
	height: 100%;
	width: 100%;
}
/*右边的悬浮窗*/
#floatWindow_right {
	position: fixed;
	left: 1150px;
	top: 100px;
}
#floatWindow_right div:first-child {
	width: 214px;
	height: 101px;
	background:url(../images/floatwindow_right_title.png) no-repeat 0 0;
}
#floatWindow_right div:nth-child(2) {
	width: 123px;
	height: 478px;
	background-color: #78af24;
	border-radius:90px 90px 0 0;
	position: absolute;
	top: -20px;
	left: 44px;
	z-index: -1;
}
#floatWindow_right div:nth-child(2) ul{
	width: 80px;
	margin: 0 auto;
	margin-top: 110px;
}
#floatWindow_right div:nth-child(2) ul li{
	display: block;
	width: 80px;
	height: 20px;
	margin-bottom: 8px;
	border-radius:10px;
	text-align: center;
}
#floatWindow_right div:nth-child(2) ul li:hover{
	background-color: #a7de55;
}
#floatWindow_right div:nth-child(2) ul li a{
	color: #fff;
}
#floatWindow_right div:nth-child(2) ul li a:hover{
	color: #000;
}
.join {
	width: 124px;
	height: 0;
	border-top: none;
	border-bottom:solid 7px #b0e75e;
	border-left: solid 5px transparent;
	border-right: solid 5px transparent;
	margin-top: 300px;
	margin-left: 39px;
}
#floatWindow_right div:nth-child(4){
	width: 134px;
	background-color: #78af24;
	margin-left: 39px;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}
#floatWindow_right div:nth-child(4) a{
	color: #fff;
}