/*reset样式*/
body,header,section,footer,ul,li,h3,p{
    margin: 0;
    padding: 0;
}
h3{
    font-weight: normal;
}
button{
    border: none;
}

/*icon-font样式*/
@font-face {
    font-family: "iconfont";
    src: url('../icon-font/iconfont.eot'); /* IE9*/
    src: url('../icon-font/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../icon-font/iconfont.woff') format('woff'), /* chrome, firefox */
    url('../icon-font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../icon-font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

/*自适应屏幕*/
@media screen and (max-width: 640px){
    html{
        font-size: 60px;
    }
}

@media  screen and (min-width: 640px) and (max-width: 900px) {
    html{
        font-size: 80px;
    }
}
@media screen and (min-width: 900px){
    html{
        font-size: 100px;
    }

}

body{
    background-color: #f0f3f5;

}




/*头部样式*/
header{
    box-sizing: border-box;
    height:1.5rem;
    padding: 0.2rem 0 0.4rem 0.4rem;
    background-color: #00a8b9;
    color: #fff;
}


header h3{
    font-weight: normal;
    font-size: 0.25rem;
}


header p{
    font-size: 0.2rem;
    margin-top: 0.2rem;
}


/*内容样式*/

/*内容高度问题待解决*/

.content{
    font-size: 14px;
}

.content h3{
    width: 100%;
    height: 0.7rem;
    line-height: 0.8rem;
    padding-left: 0.4rem;
    border-bottom: 2px solid #00a8b9;
}

#container{
    width: 98%;
    margin: 0 auto;
    /*使用calc计算列表容器的高度*/
    height: calc(100vh - 3.5rem);
    overflow: hidden;
}






.reason-list .item{
    width: 100%;
    margin-bottom: 0.05rem;
    padding: 0.1rem;
    background-color: #ffffff;
    overflow: hidden;

}

.reason-list .item input{
    float: left;
    display: none;
}

.reason-list .item i{
    float: left;
    font-size: 0.25rem;
    line-height: 0.30rem;
    margin-right: 0.1rem;
    color: #d0d0d0;
}


.reason-list .item.selected i{
    float: left;
    font-size: 0.25rem;
    line-height: 0.30rem;
    margin-right: 0.1rem;
    color: #00a8b9;
}



.reason-list .item label
{
    display: block;
    overflow: hidden;
}



/*页脚样式*/
footer{
    display: flex;
    height: 1.2rem;
    position: relative;
}

footer button{
    display: block;
    margin: auto;
    width: 90%;
    height: 0.8rem;
    border-radius: 0.05rem;
    background-color: #00a8b9;
    opacity: 0.1;
    font-size: 0.25rem;
    font-weight: normal;
    color: #ffffff;
}
























