*{
    margin: 0;
    padding: 0;
}
body{
    width: 1940px;
    font-family: "Microsoft YaHei";
}

#wrap{
    width: 1940px;
    height: 6300px;
    background-image: linear-gradient(#C8B282,#7ECEF4 15%);
    position: relative;
}


/*顶部菜单栏样式*/
nav{
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    background-color: #FFFFFF;
    color: #777;
    padding: 0 480px;
    font-size: 12px;
    padding-top: 10px;
    z-index: 100;

}


nav ul li{
    display: inline-block;
}
nav ul li~li{
    margin-left: 8px;
}
nav ul li:first-child{
    padding-left: 22px;
    background-image: url("res/logo.png");
    background-size: 20px 20px;
    background-repeat:no-repeat;

}
nav ul li:nth-last-child(3){
    margin-left: 215px;
    margin-right: -5px;
}
nav ul li:nth-last-child(3) span:last-child{
     display: inline-block;
     padding-left: 10px;
 }
nav ul li:nth-last-child(3)~li{
    padding-left: 10px;
    border-left:1px solid #777777;
}

#banner{
    position: relative;
    width: 1940px;
    height: 703px;
    background-image: url("res/banner.png");
}

#timeline{
    position: absolute;
    left:480px;
    top: 510px;
    display: table;
}
#timeline .timing{
    display: table-cell;
    width: 332px;
    height: 149px;
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
    color: white;
}

#timeline .triangle{
    width: 0;
    height: 0;
    border-width: 18px 19px 0;
    border-color: white transparent;
    border-style: solid;
    position: absolute;
    top: 35px;
}
#timeline .timing>span b:first-of-type{
    font-size: 32px;
}
#timeline .timing:nth-child(2){
    background-image: url("res/blue01_grey.png");
}
#timeline .timing:nth-child(3){
    background-image: url("res/green02_grey.png");
}
#timeline .timing:last-child{
    background-image: url("res/red03_grey.png");
}

#timeline .timing span{
    display: inline-block;
}

#content{
    width: 980px;
    margin: 28px auto 0;
}

/*二级页面入口样式*/
#content .secondPage{
    height: 281px;
    background-color: #78AF24;
    position: relative;
}

.secondPage div{
    position: absolute;
}
.secondPage div:first-child{
    left: 10px;
    top:10px;
}
.secondPage div:last-child{
    left: 465px;
    top: 10px;
}

.secondPage div .info{
    position: absolute;
    display: table-cell;
    text-align: center;
    color: white;

}
.secondPage div:first-child .info{
    left: 85px;
    top: 143px;
}
.secondPage div:last-child .info{
    left: 130px;
    top: 143px;
}
.secondPage .info span{
    display: block;
}
.secondPage .info span:first-child{
    font-size: 24px;
}
.secondPage .info span:last-child{
    font-size: 18px;
}

.secondPage div:first-child button{
    left: 162px;
    top: 200px;
}
.secondPage div:last-child button{
    left: 195px;
    top: 200px;
}
/*按钮的样式*/
button{
    font-size: 16px;
    color: rgb(255, 255, 255);
    width: 163px;
    height: 32px;
    text-align: center;
    text-shadow: 0px 5px rgba(112, 168, 27, 0.75);
    border-radius:16px;
    position: absolute;
}

.button_grey{
    background-color: rgb(149,149,149);
    box-shadow: 0  5px rgb(98,98,98);
}

.button_green{
    background-color: rgb(120, 175, 36);
    box-shadow: 0  5px rgb(51,109,0);
}

.button_green:hover{
    background-color: rgb(167, 222, 85);
    box-shadow: 0  5px rgb(51,109,0);
}



#content #products{

    margin-top: 50px;


}

#products .main{
    width: 980px;
    height: 4143px;
    background-color: rgb(243,238,219);
    position: relative;
    /*添加1像素的padding防止和子元素的上margin发生叠加*/
    padding-top: 1px;
}

#products .tab{
    height: 118px;
    width: 980px;
    border-radius: 8px;
    background-color: rgb(237, 81, 114);
    box-shadow: 0 8px rgb(157,0,53);
    position: absolute;
    left: 0;
    top: -15px;
}
/*中间白线*/
.tab .line{
    width: 874px;
    height: 1px;
    background-color: white;
    position: absolute;
    left:50%;
    top:50%;
    margin: 0 -424px;
    z-index: 100;
}
/*白线上的点*/
.tab .dot{
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 59px;
    z-index: 100;

}
.tab .sdot{
    width: 6px;
    height: 5px;
    margin: -2px -3px;
}
.tab .bdot{
    width: 12px;
    height: 13px;
    margin: -7px 6px;
}
.tab .dot:first-child{
    left: 67px;
}
.tab .dot:nth-child(2){
    left: 154px;
}

.tab .dot:nth-child(3){
    left: 241px;
}
.tab .dot:nth-child(4){
    left: 328px;
}
.tab .dot:nth-child(5){
    left: 415px;
}

.tab .dot:nth-child(6){
    left: 502px;
}
.tab .dot:nth-child(7){
    left: 589px;
}
.tab .dot:nth-child(8){
    left: 676px;
}

.tab .dot:nth-child(9){
    left: 763px;
}
.tab .dot:nth-child(10){
    left: 850px;
}
.tab .dot:nth-child(11){
    left: 937px;
}

/*白线上下的区域*/
.tab .area{
    color: white;
    font-size: 20px;
    position: absolute;
    z-index: 100;
}

.tab .area:nth-child(13){
    left: 37px;
    top: 12px;
}
.tab .area:nth-child(14){
    left:124px;
    top:75px;
}
.tab .area:nth-child(15){
    left: 211px;
    top: 12px;
    font-size: 24px;
    font-weight: bold;
}
.tab .area:nth-child(16){
    left:298px;
    top:75px;
}
.tab .area:nth-child(17){
    left: 375px;
    top: 12%;
}
.tab .area:nth-child(18){
    left:472px;
    top:75px;
}
.tab .area:nth-child(19){
    left: 569px;
    top:12px;
}
.tab .area:nth-child(20){
    left:646px;
    top:75px;
    font-size: 24px;
    font-weight: bold;
}
.tab .area:nth-child(21){
    left: 733px;
    top:12px;
}
.tab .area:nth-child(22){
    left:820px;
    top:75px;
}
.tab .area:nth-child(23){
    left:907px;
    top:12px;
}

/*滑动条*/
.tab .slider{
    width: 85px;
    height: 125px;
    background-color: rgb(166,20,59);
    box-shadow: 0 8px rgb(130,0,34);
    position: absolute;
    top: -5px;
    transform: translate(-50%,0);
    z-index: 10;
}
.tab .slider .triangle:first-child{
    width:0;
    height: 0;
    border-width: 3px 2px;
    border-color:transparent rgb(71,0,2) rgb(71,0,2) transparent;
    border-style: solid;
    position: absolute;
    left: -3px;
    top: 0;
}

.tab .slider .triangle:nth-child(2){
    width:0;
    height: 0;
    border-width: 3px 2px;
    border-color:transparent transparent rgb(71,0,2) rgb(71,0,2);
    border-style: solid;
    position: absolute;
    left: 85px;
    top: 0;
}

.tab .slider .triangle:nth-child(3){
    width:0;
    height: 0;
    border-width: 1px 1px;
    border-color: rgb(71,0,2) rgb(71,0,2) transparent transparent;
    border-style: solid;
    position: absolute;
    left: -2px;
    top: 126px;
}
.tab .slider .triangle:nth-child(4){
    width:0;
    height: 0;
    border-width: 1px 2px;
    border-color: rgb(71,0,2)  transparent transparent rgb(71,0,2);
    border-style: solid;
    position: absolute;
    left: 85px;
    top: 126px;
}

#products div.group:nth-child(2){
    margin-top: 141px;

}

#products div.group:nth-child(3){
    margin-top: 40px;
}
#products div.group:nth-child(4){
    margin-top: 40px;
}
#products div.group:nth-child(5){
    margin-top: 40px;
}

#products .group .label{
    margin-left: 23px;
    padding-left: 50px;
    background-repeat: no-repeat;
    background-position: left center;
    color: #ed5172;
    overflow: hidden;
}

#products .group:nth-child(2) .label{
    background-image: url("res/group1_icon.png");
}
#products .group:nth-child(3) .label{
    background-image: url("res/group2_icon.png");
}

#products .group:nth-child(4) .label{
    background-image: url("res/group3_icon.png");
}

#products .group:nth-child(5) .label{
    padding-left: 0;
}


#products .group .label p:first-child{
   float: left;
}

#products .group .label p:last-child{
    float: right;
    padding-top: 28px;
    padding-right: 20px;
}


.group .label p:first-child span:first-child{
    font-size: 42px;
    font-weight: bold;
}

.group .label p:first-child span:nth-child(2){
    display: inline-block;
    width: 1px;
    height: 37px;
    background-color: #ed5172;
    margin: 0 20px;
}
.group .label p:first-child  span:nth-child(3){
    font-size: 18px;
}

.group .label p:last-child{
    font-size: 14px;
    text-align: right;
}




.group .groupA{
    position: relative;
    width: 962px;
    height: 323px;
    margin: 14px auto 0;
    text-align: left;
}
.group .groupA .mask{
    width: 290px;
    height: 307px;
    background: rgba(0,0,0,0.5);
    position: absolute;
    right: 8px;
    top: 8px;
}

.group .groupA .mask .book{
    width: 290px;
    height: 74px;
    background-color: rgb(237,81,114);
    position: absolute;
    text-align: center;
    bottom: 0;
}
.group .groupA .mask .book span{
    color: white;
    font-size: 24px;
    line-height: 74px;
}

.group .groupA .mask .info .title{
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 30px 20px 18px;
}

.group .groupA .mask .info .detail{
    color: white;
    font-size: 14px;
    margin:0 20px;
}
.group .groupA .mask .price p:first-child{
    margin-top: 25px;
    color: white;
    font-size: 48px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}
.group .groupA .mask .price p:first-child:first-letter{
    font-size: 24px;
}
.group .groupA .mask .price p:last-child{
    color: #BFBFBF;
    font-size: 18px;
    font-style: italic;
    text-align: center;
    text-decoration: line-through;
    margin-top: -10px;
}
.group .groupA .mask .price p:last-child span:first-child{
    font-size: 14px;
}
.group .groupA .mask .price p:last-child span:nth-child(2){
    font-size: 16px;
}

.group .groupB{
    margin: 9px auto;
    overflow: hidden;
    width: 962px;

}

.group .groupB .item{
    width: 476px;
    height: 323px;
    background-color: red;
    float: left;
    position: relative;
}

.group .groupB .item:nth-child(2n+2){
    margin-left: 10px;
}

.group .groupB .item .mask{
    width: 460px;
    height: 108px;
    background: rgba(0,0,0,0.5);
    position: absolute;
    left: 8px;
    bottom: 8px;
}

.group .groupB .item .mask .book{
    width: 114px;
    height: 108px;
    background-color: rgb(237,81,114);
    position: absolute;
    right: 0;
    text-align: center;
}
.group .groupB .item .mask .book span{
    color: white;
    font-size: 20px;
    line-height: 108px;
}

.group .groupB .mask .info .title{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0 0 16px;

}

.group .groupB .mask .info .detail{
    color: white;
    font-size: 14px;
    margin:9px 0 0 16px;
}

.group .groupB .mask .price{
    margin-left: 16px;
}
.group .groupB .mask .price p{
    display: inline;
    font-style: italic;
}
.group .groupB .mask .price p:first-child{
    text-decoration: line-through;
    color: #BFBFBF;
}

.group .groupB .mask .price p:first-child span:first-child{
    font-size: 14px;
}
.group .groupB .mask .price p:first-child span:last-child{
    font-size: 16px;
}

.group .groupB .mask .price p:last-child span:first-child{
    color:white;
    font-size: 16px;
}
.group .groupB .mask .price p:last-child span:last-child{
    color: white;
    font-size: 26px;
    font-weight: bold;
}
/*门票栏样式*/
#products .ticket{
    width: 980px;
    height: 169px;
    margin-top: 30px;
    position: relative;
}
#products .ticket .button{
    position: absolute;
    left:50%;
    margin-left: -81px;
    top: 106px;
}

#products .ticket p{
    position: absolute;
    font-size: 50px;
    font-weight: bold;
    color: white;
    white-space:nowrap;
    left:50%;
    top:36px;
    transform: translate(-50%, 0);
}
#products .weibo{
    margin-top: 35px;
    text-align: center;
}
#products .weibo p{
    display: inline;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
#products .weibo p span{
    color: #ed5172;
    font-size: 48px;
}

#products .weibo .textarea{
    margin: 20px auto 0;
    width: 857px;
    height: 258px;
    background-color: white;
}
/*页脚样式*/
#wrap .footer{
    width: 1940px;
    height: 366px;
    background-color: white;
    box-sizing: border-box;
    margin-top: 102px;
    padding-top: 18px;
    padding-bottom: 39px;
}
#wrap .footer p{
    font-size: 12px;
    color: rgb(137,137,137);
    text-align: center;
}

#wrap .footer .reverse{
    width: 980px;
    height: 138px;
    margin: 19px auto;
    position: relative;
}
#wrap .footer .reverse div{
    width: 480px;
    height: 59px;
    background-color: rgb(235,235,235);
    position: absolute;
    text-align: center;

}
#wrap .footer .reverse div:first-child{
    left: 0;
    top:0;
}
#wrap .footer .reverse div:nth-child(2){
    right: 0;
    top:0;
}
#wrap .footer .reverse div:nth-child(3){
    left: 0;
    bottom:0;
}
#wrap .footer .reverse div:nth-child(4){
    right: 0;
    bottom:0;
}

#wrap .footer .reverse div span{
    color: rgb(85,85,85);
    font-size: 12px;
    line-height: 59px;
}
#wrap .footer .copyright{
    width: 1020px;
    height: 121px;
    margin: auto;
}

/*二维码和浮动导航样式*/
#wrap .qr_code{
    width: 162px;
    height: 180px;
    background-color: rgb(237,81,114);
    box-shadow: 0 8px rgb(157,0,53);
    position:absolute;
    left: 286px;
    top: 1205px;
}

#wrap .qr_code .code{
    width: 144px;
    height: 144px;
    background-color: white;
    margin: auto 9px;
}

#wrap .qr_code p{
    color: white;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    text-align: center;
}




























