@charset "utf-8";

body, div, span, ul, li, hr {
    padding: 0;
    margin: 0;
}

body {
    font-size: 14px;
    color: #333;
    background-color: rgb(191, 191, 191);
}

.back-blue,
.text-icon {
    background-color: rgb(38, 180, 211);
}

.dotted-bottom {
    display: inline-block;
    border-bottom: 1px dotted rgb(102, 102, 102);
}

.color000 {
    color: #000;
}

.color51 {
    color: rgb(51, 51, 51);
}

.color102 {
    color: rgb(102, 102, 102);
}

.c-blue {
    color: rgb(14, 131, 191);
}

.c-light-blue {
    color: rgb(38, 180, 211);
}

.c-orange {
    color: rgb(255, 114, 0);
}

.font14 {
    font-size: 14px;
}

.font18 {
    font-size: 18px;
}

.font25-bold {
    font-size: 25px;
    font-weight: bold;
}

.font-bold {
    font-weight: bold;
}

.line-height21 {
    line-height: 21px;
    height: 21px;
}

.line-height25 {
    line-height: 25px;
}

.text-icon {
    padding: 2px;
    color: #fff;
}

#fly {
    width: 915px;
    height: 335px;
    margin: 100px auto 0 auto;
    background: #fff;
    box-shadow: 0 0 20px #999;
}

#fly .times {
    font-size: 12px;
    height: 70px;
}

#fly .times-left,
#fly .times-right {
    position: relative;
    font-size: 40px;
    width: 55px;
    line-height: 70px;
    color: rgb(93, 199, 222);
}

#fly .times-left,
#fly .times-item,
#fly .times-right {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-bottom: 1px solid rgb(38, 143, 197);
}

#fly .times-item,
#fly .times-right {
    border-left: 1px solid rgb(38, 143, 197);
}

#fly .times-right {
    text-align: right;
}

#fly .times-left,
#fly .times-item,
#fly .times-right,
#fly .charge-img {
    float: left;
    height: 100%;
}

#fly .times-item {
    width: 100px;
    line-height: 70px;
    text-align: center;
    background-color: rgb(243, 251, 253);
}

#fly .times-item > span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5;
}

#fly .times-item.active {
    color: rgb(14, 131, 191);
    font-weight: bold;
    border-top: 1px solid rgb(38, 143, 197);
    border-bottom: none;
    background-color: #fff;
    position: relative;
}

#fly .times-item.active::after {
    line-height: 12px;
    font-weight: normal;
    background-color: rgb(248, 73, 128);
    color: #fff;
    padding: 2px;
    content: "ä½Ž";
    position: absolute;
    top: 1px;
    left: 1px;
}

#fly .charge-img {
    height: 70px;
    width: 105px;
    background-image: url(../img/cal.png);
    background-size: 100% 100%;
    position: relative;
}

#fly .charge-text {
    color: #fff;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

#fly .bg-line {
    margin-top: 15px;
    height: 5px;
    background-image: url(../img/bg.png);
    background-repeat: repeat;
}

#fly .flight-title {
    color: #fff;
    height: 30px;
    line-height: 30px;
    background-color: rgb(38, 180, 211);
}

#fly .fly-icon,
#fly .flight-info,
#fly .departrue-time,
#fly .travel-time,
#fly .fall-time,
#fly .recomment-site,
#fly .lowest-charge {
    float: left;
}

#fly .fly-icon {
    text-align: right;
    padding-right: 10px;
    width: 65px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#fly .flight-info {
    width: 125px;
}

#fly .departrue-time {
    text-align: right;
    width: 140px;
}

#fly .travel-time {
    text-align: center;
    width: 135px;
}

#fly .via-station {
    text-align: left;
    padding-left: 30px;
    margin-top: -10px;
}

#fly .tri {
    font-size: 0;
    line-height: 11px;
    display: inline-block;
    vertical-align: middle;
}

#fly .tri-top,
#fly .tri-bottom {
    border: 4px solid transparent;
    cursor: pointer;
}

#fly .tri-top {
    border-top: 4px solid #fff;
}

#fly .tri-bottom {
    border-bottom: 4px solid #fff;
}

#fly .fall-time {
    width: 180px;
}

#fly .baseline-left,
#fly .baseline-center,
#fly .baseline-right {
    margin: 5px 0;
}

#fly .baseline-left,
#fly .baseline-right {
    border-bottom: 1px solid rgb(211, 211, 211);
    width: 20%;
    position: relative;
}

#fly .baseline-left {
    left: 85%;
}

#fly .baseline-left::before,
#fly .baseline-right::after {
    width: 3px;
    height: 3px;
    border: 1px solid rgb(211, 211, 211);
    display: inline-block;
    border-radius: 50%;
    content: " ";
    margin-top: -2px;
    background: #fff;
}

#fly .baseline-left::before {
    float: left;
    margin-left: -4px;
}

#fly .baseline-center {
    width: 25px;
    height: 3px;
    background-color: #fff;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 5px;
    display: inline-block;
    position: relative;
    top: -1px;
}

#fly .baseline-center::before,
#fly .baseline-center::after {
    width: 55px;
    border-bottom: 1px solid rgb(211, 211, 211);
    content: ' ';
    display: inline-block;
}

#fly .baseline-center::before {
    float: left;
    margin-left: -55px;
}

#fly .baseline-center::after {
    float: right;
    margin-right: -55px;
}

#fly .baseline-right::after {
    float: right;
    margin-right: -4px;
}

#fly .recomment-site {
    width: 100px;
    text-align: right;
}

#fly .recomment-site.detail,
#fly .lowest-charge.detail {
    height: 150px;
    line-height: 150px;
}

#fly .recomment-site.detail > div,
#fly .lowest-charge.detail > div {
    display: inline-block;
    vertical-align: middle;
    line-height: 15px;
}

#fly .lowest-charge {
    width: 150px;
    text-align: right;
}

#fly .flight-detail {
    font-size: 13px;
    color: rgb(102, 102, 102);
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: rgb(243, 251, 253);
    overflow: hidden;
}

#fly .flight-detail-left,
#fly .flight-detail-right {
    float: left;
    overflow: hidden;
}

#fly .booking-btn {
    color: #fff;
    width: 75px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    background-color: rgb(38, 180, 211);
    position: relative;
}

#fly .booking-btn .tri {
    margin-top: -0.3rem;
}

#fly .booking-btn::after {
    border: 37.5px solid transparent;
    border-top: 15px solid rgb(38, 180, 211);
    content: " ";
    position: absolute;
    top: 100%;
    left: 0;
}

#fly .split-line {
    margin: 0 0 10px 60px;
    padding-top: 10px;
    width: 550px;
    border-bottom: 1px dashed rgb(224, 227, 228);
    clear: left;
}