<component name="libraryTable">
  <library name="Spring MVC-4.3.9.RELEASE">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/ecj-4.4.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-aop-4.3.9.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/servlet-api.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/catalina-tribes.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/aopalliance-1.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-core-4.3.9.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-aspects-4.3.9.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/catalina-ant.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/jasper-el.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-context-4.3.9.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-beans-4.3.9.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/commons-logging-1.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/el-api.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/jsp-api.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/jasper.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/catalina-ha.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-context-support-4.3.9.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/annotations-api.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-instrument-tomcat-4.3.9.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-expression-4.3.9.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-instrument-4.3.9.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-jdbc-4.3.9.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-jms-4.3.9.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-messaging-4.3.9.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-oxm-4.3.9.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-test-4.3.9.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-orm-4.3.9.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-tx-4.3.9.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-webmvc-4.3.9.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-webmvc-portlet-4.3.9.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-web-4.3.9.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-websocket-4.3.9.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/tomcat-api.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/tomcat-coyote.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/tomcat-dbcp.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/tomcat-jdbc.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/tomcat-util.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/tomcat7-websocket.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/websocket-api.jar!/" />
      <root url="file://$PROJECT_DIR$" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/catalina.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/jstl.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/standard.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/commons-fileupload-1.3.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/commons-io-2.5.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="file://$PROJECT_DIR$/src" />
    </SOURCES>
  </library>
</component>