*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #fff;
    font: normal 16px/24px '宋体', sans-serif;
    color: #000;
    overflow: hidden;
}
h1{
    color:#fff;
    font:bold 16px/16px '宋体';
}
h2{
    font:16px/16px '宋体';
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
input{
    display: none;
}
label{
    padding: 10px 0 10px 34px;
}
button
{   
    display: flex;
    justify-content: center;
    align-items: center;
    font:16px '宋体';
    color: #fff;
    background: #1ba9ba;
    outline: 0;
    border: 1px solid #0ba3b6;
    height: 44px;
    width: 290px;
    border-radius: 2px;
    cursor: pointer;
}
button[disabled='']{
    background:#b0dde3;
    border:none;
}

.overlay {
    background: #000;
    opacity: .75;
    filter: alpha(opacity=75);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}

.layer {
    position: fixed;
    top: 1000px;
    left: 30%;
    width: 300px;
    height: 240px;
    background: #f0f3f5;
    z-index: 101;
    border-radius: 10px;
}
.layer-close {
    width: 20px;
    height: 20px;
    background: url(../images/layer-close.png) no-repeat;
    position: absolute;
    top: 12px;
    right: 8px;
    cursor: pointer;
}
.layer-header{
    width:100%;
    height:44px;
    background:#1ba9ba;
    text-align: center;
    line-height: 44px;
    color:#fff;
    border-radius: 10px 10px 0 0;
}
.layer-content{
  font:14px/22px '宋体';
  padding:10px 16px;
  height:151px;
  width:100%;
  border-bottom: 1px solid #e6e6ea;
}
.layer-footer{
    width:100%;
    height:46px;
}
.layer-footer>a{
    display: inline-block;
    font:16px/16px '宋体';
    color:#1ba9ba;
    width:50%;
    height:100%;
    text-align: center;
    padding-top:13px;
    border-right: 1px solid #e6e6ea;
    text-decoration: none;
}
.layer-footer>a:last-of-type{
    border:none;
}
header{
    display: flex;
    flex-direction: column;
    background:#1ba9ba;
}
header>h1{
    margin:18px 0 20px 16px;
}
header>p{
    font:bold 12px/12px '宋体';
    color:#fff;
    margin:0 0 28px 16px;
}

.reason-header{
    display: flex;
    background:#f0f3f5;
    border-bottom: 1px solid #1ba9ba;
}
.reason-header>h2{
    margin:12px 0 16px 10px;
}
form{
    height: 524px;
}
.reason-item{
    display: flex;
    border-bottom: 1px solid #eee;
}
.reason-item:last-of-type{
    border-bottom: 1px solid #ddd;
}
i.icon-radio{
    font-size: 30px;
    color:#d0d0d0;
    vertical-align: middle;
    position:absolute;
    left:4px;
}
i.icon-radio-on{
    position:absolute;
    left:11px;
    color:#1ba9ba;
}
.btn-wrapper{
    position: absolute;
	z-index: 2;
	bottom: 0;
	left: 0;
    height:71px;
    background:#f0f3f5;
    width:100%;
}
.submit-btn{
    margin:14px auto;
}

#reason-list-wrapper {
	position: absolute;
	z-index: 1;
	top: 138px;
	bottom: 71px;
	left: 0;
	width: 100%;
	overflow: hidden;
}
