#wrap .layer {
    width: 500px;
    height: 346px;
    position: relative;
    z-index: 700;
}
#wrap .layer .first {
    width: 100%;
    height: 100%;
}
#wrap .layer .second {
    width: 32px;
    height: 32px;
    position: absolute;
    right: -15px;
    top:-15px;
    cursor: pointer;
    background-image: url("../imag/close.png");
}
#wrap .layer .second:hover {
    background-image: url("../imag/close_hover.png");
}